
:root{
    --PPSLBlue: royalblue;
    --PPSBlack: #000000;
    --PPSDBLue: #3a71ec;
    --PPSSilver: #c0bcb5;
    --PPSLGray: #ebebed;
    --PPSGray: #828282;
    --PPSDBrown: #494949;
}
html, body, body.page, .wf-container > * {
    font: normal 14px / 26px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    word-spacing: normal;
    color: #777777;
    background-color: #e0f0ff !important;
}
.center {
    display: flex;
    align-items: center;
}

.elementor-kit-1557 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-ad15e06: #4054B2;
    --e-global-color-60c71ff4: #23A455;
    --e-global-color-7df2f713: #000;
    --e-global-color-6f1bf004: #FFF;
    --e-global-color-6c603d54: #55B2FE;
    --e-global-color-7e206fd1: #777777;
    --e-global-color-7ef68820: #333333;
    --e-global-color-5615a6bf: #FCFBFB;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
}
.brand-link {
}
.PPS-sidebar{
    border: none;
}
.PPS-page-title{
    font-weight: 150;
    font-size: 6vh;
    padding: 20px;
    color: black;
}

.PPS-content-wrapper{
    font-size: 2vh;
    border: 2px solid black;
    background-color: var(--PPSLGray);
}
.PPS-content-wrapper.PPS-exercise{
    transition: 0.05s ;
}
.PPS-content-wrapper.PPS-exercise:hover{
    filter: drop-shadow(3px 3px 3px black) ;
}

.PPS-content-header{
    color: #f7faff;
    background-color: var(--PPSDBLue);
    font-size: 2vh;
}

.PPS-content-heading{
    font-size: 2.5vh;
    color: white;
    padding: 7px;
    background-color: var(--PPSLBlue);
}

.PPS-content-footer{
    color: black;
    background-color: var(--PPSGray);
}

.PPS-info-button{
    background-color: var(--PPSLBlue) ;
    color: white ;
    margin: 5px;
    padding: 5px;
    border: 2px solid var(--PPSGray) ;
}

.PPS-info-button:hover{
    background-color: var(--PPSDBLue) ;
    color: white;
}


.PPS-edit-button{
    background-color: black ;
    color: yellow ;
    margin: 5px;
    padding: 5px;
    border: 2px solid yellow ;
}

.PPS-edit-button:hover{
    color: black ;
    background-color: yellow ;
}
.PPS-delete-button{
    background-color: black ;
    color: red ;
    margin: 5px;
    padding: 5px;
    border: 2px solid red ;


}

.PPS-delete-button:hover{
    color: black  !important;
    background-color: red !important;
}

.PPS-add-button{
    background-color: black ;
    color: greenyellow ;
    margin: 5px;
    padding: 5px;
    border: 2px solid green ;


}

.PPS-add-button:hover{
    color: black ;
    background-color: green ;
}

.PPSHeader{
    background: gray;
    position: relative;
}

.PPSHeader:before {
    content: '';
    position: absolute;
    top: 30%; right: 0;
    border-bottom: 80px solid white;
    border-left: 80px solid red;
    width: 0;
}




/*.PPS-Wrapper {
    background: linear-gradient(-45deg, var(--PPSLBlue), var(--PPSBlack)) !important;
    /*background-size: 400% 400% !important;
    animation-name: gradient;
    animation: gradient 1s ease infinite !important;
}*/

.PPS-Wrapper {
    background:#e4ecf2;
}

/*@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100%, 100%;
    background-image: none;

}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: var(--PPSLBlue);
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: var(--PPSLBlue);
}


.dual.active {
    display: none;
}

.dual span:nth-of-type(1) {
    display: none;
}

.dual span:last-child {
    display: block;
}

.dual.active span:nth-of-type(1) {
    display: block;
}

.dual.active span:last-child {
    display: none;
}

