#module {
    font-size: 1rem;
    line-height: 1.5;
}


#module #collapseExample.collapse:not(.show) {
    display: block;
    height: 8rem;
    overflow: hidden;
}

#module #collapseExample.collapsing {
    height: 8rem;
}

#module a.collapsed::after {
    content: '+ Parādīt vairāk';
}

#module a:not(.collapsed)::after {
    content: '- Parādīt mazāk';
}
